QToolButton {
    text-align: left;
    border: 1px solid transparent;
    padding: 0px;
    margin-left:2px;
    margin-right:2px;
}

QToolButton:hover {

    border: 1px solid rgba(120,160,255,60%);
    /*background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #def, stop: .4 #def, stop: .6 #d0e0ff, stop: 1 #d0e0ff);*/
    background-color: QLinearGradient(spread:pad, x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgba(150,180,200,30%),stop: 0.5 rgba(225,235,245,60%), stop: 1 rgba(225,235,245,30%));
}